<div class="jumbotron text-center">
    <div class="containeravatar">

        <img {{{AvatarPic}}}></img>
        <div class="down">
            <button type="button" class="btn btn-lg btn-block btn-warning">Create Avatar</button>
        </div>
    </div>

    <div class="containeravatar">
        <img {{{PetPic}}}></img>
        <div class="down">
            <button type="button" class="btn btn-lg btn-block btn-danger">Create Pet</button>
        </div>
    </div>
    <br>
</div>