<div class="jumbotron text-center">
    <h1>Create Avatar!</h1>
    <div class="form-group mb-4">
        <label class="font-italic" for="feelings">In one word, what are you feeling?</label>
        <textarea class="form-control" id="feelings" name="feelings" rows="1"></textarea>
    </div>

    <div class="form-group mb-4">
        <label class="font-italic" for="thoughts">How do you percieve yourself?</label>
        <textarea class="form-control" id="thoughts" name="thoughts"></textarea>
    </div>

    <div class="form-group mb-4">
        <label class="font-italic" for="actions">In one word, what do you spend most of your time on?</label>
        <textarea class="form-control" id="actions" name="actions"></textarea>
    </div>

    <div class="form-group mb-4">
        <label class="font-italic" for="aura">How confident are you?</label>
        <textarea class="form-control" id="aura" name="aura"></textarea>
    </div>
    <br>
    <hr>
    <br>
    <button type="button" class="btn btn-lg btn-block btn-warning">Create Avatar</button>


</div>