<div class="jumbotron text-center">
    <h1>Delete Avatar?</h1>
    <br>
    <h3>
        Are you sure you want to delete your Avatar?
        All data, progress and evolution will be lost.
        This action cannot be undone.
    </h3>
        <br>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> I have read
        </label>
    </div>


        <button type="button" class="btn btn-lg btn-block btn-dark">Delete Avatar</button>

</div>