	<div class="row text-center">
		<div class="col-md-8 mx-auto">
			<div class="card card-body" style="margin-top: 200px">
				<h4 class="text-left" style="color: #2f4454">Question 1</h4>
				<p class="text-left" style="color: #2f4454">Welcome to Energize. Are you ready to become the best
					version of yourself?</p>
				<button class="QnButton">Yeah!</button>
				<button class="QnButton">Of Course!</button>
				<button class="QnButton">Definitely!</button>
				<button class="QnButton">That's why I'm here!</button>
			</div>
		</div>
	</div>