<div class="row text-center">
    <div class="col-md-6 mx-auto">
        <div class="card card-body" style="margin-top:250px">
            <h4 class="text-center" style="color: #2f4454">Initial Diagnosis Checkup</h4>
            <p class="text-center" style="color: white">The first step to your Energizing experience</p>
            <p class="text-center" style="color: #2f4454; font-size: 20px;">Congratulations you have successfully
                completed your first checkup!</p>
            <button class="button">Continue Exploration</button>
        </div>
    </div>
</div>