<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Journal.</h3>
    </div>

    <ul class="list-unstyled">
        <li>
            <a href="/journal/calendar">View All Entries</a>
        </li>
        <li>
            <a href="/journal/newEntry">Write A New Entry</a>
        </li>
        <li class="active">
            <a href="/journal/moodTracker">Mood Tracker</a>
        </li>
    </ul>
</nav>

<!-- Page Content  -->
<div id="content">

    <nav class="navbar-2 navbar-expand-lg">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-yellow">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <h2 class="text-center">Mood Tracker</h2>
        </div>
    </nav>

    <div class="container card text-center shadow-lg bg-white">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <p class="font-italic p-orange">
            Drag to Zoom
        </p>
    </div>
</div>
</div>
</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $(this).toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script>
    var i = 0;


    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            zoomEnabled: true,
            axisY: {
                includeZero: false,
            },
            data: [
                {
                    type: "line",

                    dataPoints: [
                        {{ #each Journal }}

                            { x: new Date(getYear('{{{date}}}')), y: {{ mood }} },


        {{
            /each}}

                        
                    ]
    }
            ]
        });
    chart.render();

    }

    function getYear(d) {
        var date = d.toString();
        var year = date.substring(34, 38);
        var month = date.substring(10, 12);
        var day = date.substring(0, 2);
        console.log(d, date, '!!!!', year, month, day)
        return (year + ', ' + month + ', ' + day)
    }

</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>