<div class="row text-center">
    <div class="col-md-6 mx-auto">
        <div class="card card-body"  style="margin-top:220px">
            <h4 class="text-center" style="color: #2f4454">Daily quiz</h4>
            <p class="text-center" style="color: white">Helping Someone Facing Depression</p>
            <p class="text-center" style="color: #2f4454; font-size: 20px; margin-bottom: 40px;">Congratulations you have successfully
                completed the quiz!</p>
            <h5 class="text-center" style="color:#2f4454; font-weight:bold;">Points Earned</h5>
            <h5 class="text-center" style="color:chartreuse;">70</h5>
        </div>
    </div>
</div>