<div class="row text-center">
    <div class="col-md-6 mx-auto">
        <div class="card card-body" style="margin-top:250px">
            <h4 class="text-center" style="color: #2f4454">Daily Quiz</h4>
            <p class="text-center" style="color: white">Helping Someone Facing Depression</p>
            <p class="text-center" style="color: #2f4454; font-size:18px;">This Daily Quiz will educate you on the
            different ways to help and support someone facing depression</p>
            <button class="button">Begin Quiz</button>
        </div>
    </div>
</div>