<div class="row text-center">
	<div class="col-md-12 mx-auto">
		<div class="card card-body" style="margin-top: 130px">
			<h4 class="text-center" style="color: #2f4454">Quiz and Checks</h4>
			<h5 class="text-left" style="color: white;">Biweekly Monitoring</h5>
			<h5 class="text-left" id="quizContent" style="padding-top: 30px">Depression Monitoring</h5>
            <h5 class="text-left" id="quizContent" style="padding-bottom: 30px">Anxiety Monitoring</h5>
            <hr>
			<h5 class="text-left" style="color: white; padding-bottom: 20px">Daily Quizzes</h5>
			<h5 class="text-left" id="quizContent" style="padding-top: 30px">Helping Someone Facing Depression</h5>
            <h5 class="text-left" id="quizContent">The Dos and Don'ts of Depression</h5>
            <h5 class="text-left" id="quizContent">Anorexia and its relation to Depression</h5>
			</br>
		</div>
	</div>
</div>