<div class="row text-center">
    <div class="col-md-8 mx-auto">
        <div class="card card-body" style="margin-top:200px">
            <h4 class="text-left" id="question" style="color: #2f4454; margin-bottom: 0">Question 1</h4>
            <p class="correctPoints text-right">+10 points</p>
            <p class="text-left" style="color: #2f4454; margin-bottom: 30px;">What is the first thing you should do if someone you knew opened
                up to you about their problems with depression?</p>
            <button class="QnButton" style="color:chartreuse; height: 60px; margin-bottom: 30px">Ask them if they are seeing a psychiatrist or psychologist</button>
            <h5 class="text-left" style="color: #2f4454; margin-bottom: 20px;">Hooray, that's the correct answer!</h5>
            <button class="button" style="margin-right:10px; width:200px;">Finish Quiz</button>
        </div>
    </div>
</div>