.logo{
  width:130px;
  margin:auto;
}

.container-dashboard{
  background-color: #ffffff;
}

.container-date{
  background-color: #BFD8D2;
  height: 170px;
  display: block;
}

.day{
  background-color: #FEDCD2;
}
.carousel-inner {
  padding: 2%;
}

.carousel-item{
  margin-left: 15%;
}

button.btn-lg-yellowalt{
  background-color: #ffffff;
  width: 125px;
  height: 50px;
  text-align: center;
  color: #DF744A;
  margin-right: 1%;
}

.carousel-indicators{
  margin: -4px;
}

.date-own{
  margin-left: 46%;
  margin-top: 1%;
}

.p-yellow{
  display: inline-block;
  padding-left: 1.5%;
  padding-right:1.5%;
  margin: 3%;
  color: #DF744A;
}

.btn-yellow{
  background-color: #dcb239;
  color: #ffffff;
  border-color: #dcb239; 
}

.btn-yellowalt{
  background-color: #ffffff;
  color: #DF744A;
  border-color: #DF744A; 
}

.col-sm-2{
  padding: 0px;
  margin-top: 1%;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

.navbar{
  background-color:#ffffff;
}

.navbar-brand, .navbar-nav, .nav-link {
  color: #DF744A;
}

h2{
  color: #ffffff;
  background-color: #BFD8D2;
  padding: 2%;
  text-shadow: -3px -1px #FEDCD2;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.card-text {
  height: 70px;
  overflow: auto;
}