<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/user/viewprofile/{{user.id}}" class="list-group-item list-group-item-action">My Profile</a>
                <a href="/user/updateprofile/{{user.id}}" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="#" class="list-group-item list-group-item-action active"> Change Password</a>
                <a href="/user/delacc" class="list-group-item list-group-item-action"> Delete Account</a>
            </div>
        </div>


        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Change Password</h4>
                            <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" action="/user/changepw/{{user.id}}">

                                        <div class="form-pass-group">
                                            <label for="currPass">
                                                Current Password
                                            </label>
                                            <input type="password" name="currpass" autofocus class="form-control" />
                                        </div>
                                        <br>
                                        <div class="form-pass-group">
                                            <label for="newPass">
                                                New Password
                                            </label>
                                            <input type="password" name="newpass" autofocus class="form-control" />
                                        </div>
                                        <br>
                                        <div class="form-pass-group">
                                            <label for="confPass">
                                                Confirm New Password
                                            </label>
                                            <input type="password" name="confirmpass" autofocus class="form-control" />
                                        </div>
                                        <br>
                                        <div class="form-pass-group">
                                            <input type="submit" class="btn btn-primary" value="Reset Password" />
                                        </div>
                                    </form>
                                </div>
                            </div>
