<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/user/viewprofile" class="list-group-item list-group-item-action">My Profile</a>
                <a href="/user/updateprofile" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="/user/changepwd" class="list-group-item list-group-item-action "> Change Password</a>
                <a href="#" class="list-group-item list-group-item-action active"> Delete Account</a>



            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Delete Account</h4>