<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/user/viewprofile/{{user.id}}" class="list-group-item list-group-item-action">My Profile</a>
                <a href="/user/updateprofile/{{user.id}}" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="/user/changepw/{{user.id}}" class="list-group-item list-group-item-action "> Change Password</a>
                <a href="#" class="list-group-item list-group-item-action"> Delete Account </a>



            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form action="/user/delacc/{{user.id}}" method="post">
                                <button type="submit" class="btn btn-danger">Delete My Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
