<div class="row text-center">
    <div class="col-md-10 mx-auto">
        <div class="card card-body" style="margin-top: 100px">
            <h4 class="text-left" style="color: #2f4454; padding-bottom: 40px; font-weight: bold;">Overcoming Anxiety -
                the most effective ways of overcoming anxiety
            </h4>
            <ol>
                <li class="liAnxiety">
                    <h5 class="text-left" id="anxietyContent">Create the habit of tracking your moods and
                        identifying factors and triggers linked to low moods and also with positive emotions.
                    </h5>
                    </br>
                </li>
                <li class="liAnxiety">
                    <h5 class="text-left" id="anxietyContent">Avoid isolation and keeping problems to yourself.
                    </h5>
                    </br>
                </li>
                <li class="liAnxiety">
                    <h5 class="text-left" id="anxietyContent">Dedicate a few minutes a day to your mind to
                        become more aware of your thoughts and develop flexible ways of thinking and behaving.
                    </h5>
                    </br>
                </li>
                <li class="liAnxiety">
                    <h5 class="text-left" id="anxietyContent">Get involved. Volunteer or find another way to be
                        active in your community, which creates a support network and gives you a break from everyday
                        stress.
                    </h5>
                    </br>
                </li>
                <li class="liAnxiety">
                    <h5 class="text-left" id="anxietyContent">Learn what triggers your anxiety. Is it work,
                        family, school, or something else you can identify? Write in a journal when you’re feeling
                        stressed or anxious, and look for a pattern.
                    </h5>
                    </br>
                </li>
            </ol>
        </div>
    </div>
</div>