<div class="row text-center">
	<div class="col-md-11 mx-auto">
		<div class="card card-body"  style="margin-top: 35px">
			<h4 class="text-left" style="color: #2f4454; padding-bottom: 15px; font-weight: bold;">Anxiety Monitoring
				Report</h4>
			<img class="graphImg" src="/img/lineGraph.png" alt="It's a line graph">
			<h5 class="text-left" id="reportContent">Dear User,</h5>
			</br>
			<h5 class="text-left" id="reportContent">Now your anxiety score is 10 points. It means you have been
				experiencing moderate symptoms of generalized anxiety in the last weeks.</h5>
			</br>
			<h5 class="text-left" id="reportContent">There may be periods when your symptoms worsen. I'm here to
				reassure you that if this happens, you can count on me to move forward.</h5>
			</br>
			<h5 class="text-left" id="reportContent">It's important to remember that the score you got doesn't replace a
				professional consultation. If your symptoms persist, it is best to look for a doctor to review your
				diagnosis.</h5>
			</br>
			<h5 class="text-left" id="reportContent">If you are looking for ways to improve your anxiety symptoms, you
				can follow this link, it shows you different habits and behaviours you can adopt to aid you in your
				journey of overcoming your anxiety.</h5>
		</div>
	</div>
</div>