<div class="row text-center">
    <div class="col-md-8 mx-auto">
        <div class="card card-body" style="margin-top: 200px">
            <h4 class="text-left" style="color: #2f4454">Question 1</h4>
            <p class="text-left" style="color: #2f4454">Over the last two weeks how often have you been bothered by
                feeling nervous, anxious or on edge?</p>
            <button class="QnButton">Not at all</button>
            <button class="QnButton">Several days</button>
            <button class="QnButton">More than half the days</button>
            <button class="QnButton">Nearly every day</button>
        </div>
    </div>
</div>