<div class="row text-center">
	<div class="col-md-6 mx-auto">
		<div class="card card-body" style="margin-top: 250px">
			<h4 class="text-center" style="color: #2f4454">Biweekly Monitoring</h4>
			<p class="text-center" style="color: white">Anxiety Monitoring</p>
			<p class="text-center" style="color: #2f4454; font-size: 18px;">This is your Biweekly Anxiety Check that
				helps to track your progress in improving your anxiety</p>
			<button class="button">Begin Monitoring</button>
		</div>
	</div>
</div>