<div class="row text-center">
	<div class="col-md-6 mx-auto">
		<div class="card card-body" style="margin-top: 85px">
			<h4 class="text-center" style="color: #2f4454; margin-bottom: 70px; font-weight:bold;">Depression Monitoring Graph</h4>
			<button class="button" style="height:65px; margin-bottom: 70px;">Begin Depression Monitoring</button>
            <hr style="margin-bottom:20px;">
            <h4 class="text-center" style="color: #2f4454; margin-bottom: 10px; font-weight:bold;">Anxiety Monitoring Graph</h4>
            <img class="anxietyGraphDisplay" src="/img/lineGraph.png" alt="It's a line graph" style="margin-bottom:10px;">
            <hr style="width: 400px; margin: 0 auto;">
            <h6 style="margin-top:15px; font-weight:bold; color:#2f4454">12 days until next checkup</h6>
		</div>
	</div>
</div>