<div class="row">
	<div class="col-md-9 mx-auto">
		<div class="card card-body" style="margin-top: 75px">
			<div>
				<h4 class="text-center" style="color: #2f4454; float: middle">Add Quiz</h4>
				<button class="redButton" style="float: right;">Cancel</button>
			</div>
			<form action="" method="post">
				<div class="form-group">
					<label for="name" class="labelName">Quiz Name</label>
					<input type="text" class="form-control" name="name" value="" placeholder="Name" required>
				</div>
			</form>
			<hr>
			<form action="" method="post">
				<label for="name" class="labelName">Question 1 Name</label>
				<input type="text" class="form-control" name="question" value="" placeholder="Question" required>
				</br>
			</form>
			<form action="" method="post">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="radio" aria-label="Radio button for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with radio button"
						placeholder="Answer 1">
				</div>
				</br>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="radio" aria-label="Radio button for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with radio button"
						placeholder="Answer 2">
				</div>
				</br>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="radio" aria-label="Radio button for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with radio button"
						placeholder="Answer 3">
				</div>
				</br>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="radio" aria-label="Radio button for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with radio button"
						placeholder="Answer 4">
				</div>
				</br>
			</form>
			<div>
				<button type="submit" class="button" style="color:chartreuse; float: left; margin-left: 30px">Add
					Quiz</button>
				<button type="button" class="button" style="float: right; margin-right: 30px">Add Another
					Question</button>
			</div>
		</div>
	</div>
</div>