<div class="row text-center">
    <div class="col-md-12 mx-auto">
        <div class="card card-body" style="margin-top: 175px">
            <h4 class="text-center" style="color: #2F4454; padding-bottom: 15px; font-weight: bold;">Quiz List</h4>
            <button class="button" style="margin-bottom: 20px; width: 1050px;">Add New Quiz</button>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="text-left align-middle" colspan="1">Name</th>
                        <th class="text-left align-middle" colspan="1">Number of Questions</th>
                        <th class="text-left align-middle" colspan="1">Creation Date</th>
                        <th class="text-left align-middle" colspan="1"></th>
                    </tr>
                    <tr>
                        <td class="answer text-left" width="">Helping Someone Facing Depression</td>
                        <td class="answer text-left" width="">5</td>
                        <td class="answer text-left" width="">28/5/2019</td>
                        <td class="answer text-left" width=""><button type="button" class="button btn"
                                data-toggle="modal" data-target="#myModal" style="color:red; width: 150px">Delete
                                Quiz</button></td>
                    </tr>
                    <tr>
                        <td class="answer text-left" width="">The Dos and Don'ts of Depression</td>
                        <td class="answer text-left" width="">10</td>
                        <td class="answer text-left" width="">30/5/2019</td>
                        <td class="answer text-left" width=""><button type="button" class="button btn"
                                data-toggle="modal" data-target="#myModal" style="color:red; width: 150px">Delete
                                Quiz</button></td>
                    </tr>
                    <tr>
                        <td class="answer text-left" width="">Anorexia and how it relates to Depression</td>
                        <td class="answer text-left" width="">5</td>
                        <td class="answer text-left" width="">3/6/2019</td>
                        <td class="answer text-left" width=""><button type="button" class="button btn"
                                data-toggle="modal" data-target="#myModal" style="color:red; width: 150px">Delete
                                Quiz</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" style="color:#2f4454; border-radius: 20px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center" style="border-radius: 20px;background-color: #da7b93; border: none">
                <h4 class="modal-title">Delete Quiz</h4>
                </br>
                <h6>Are you sure you want to delete quiz,</h6>
                <h6 style="color: white">Helping Someone Facing Depression?</h6>
                </br>
                <div>
                    <button id="deleteButtons" type="button" class="button btn" data-dismiss="modal"
                        style="width: 150px; float: left; margin-left: 30px;">Cancel</button>
                    <button id="deleteButtons" type="button" class="button btn" data-dismiss="modal"
                        style="color:red; width: 150px; float: right; margin-right: 30px;">Delete
                        Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>