<div class="jumbotron text-center">
    <a href="/adminAvatar/editAvatar"><button type="button" class="btn btn-lg btn-block btn-warning">Edit Avatar</button></a>
    <a href="/adminAvatar/pets"><button type="button" class="btn btn-lg btn-block btn-warning">Edit Pet</button></a>
</div>